# Git
.git
.gitignore
.github

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
dist
build
*.egg

# Тесты и документация (не нужны в продакшн-образе)
tests
docs
.tox
.pytest_cache
.mypy_cache
.coverage
*.md
HISTORY.rst
AUTHORS.rst
CONTRIBUTING.rst

# Инструменты разработки
.editorconfig
.pre-commit-config.yaml
.python-version
.tool-versions
tox.ini
Makefile
poetry.lock
poetry.toml

# Docker
Dockerfile
.dockerignore
